<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design System</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- HEADER SECTION -->
    <header id="header" class="header">
      <div class="project-title">Project Title</div>
      <div class="text__design-system">design system</div>
    </header>

    <!-- COLOR SECTION -->
    <section id="color" class="color">
      <div class="secondary-title">Color</div>
      <div class="color-pallette">
        <!-- color #1 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: chocolate"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #2 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: bisque"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #3 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: cornflowerblue"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #4 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: teal"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #5 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: darkmagenta"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #6 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: darkslategrey"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #7 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: black"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>

        <!-- color #8 -->
        <div class="color-pallette__block-wrapper">
          <div
            style="background-color: chocolate"
            class="color-pallette__block"
          ></div>
          <div class="color-pallette__hexa">#13183F</div>
        </div>
      </div>
    </section>

    <!-- TYPOGRAPHY SECTION -->
    <section id="typography" class="typography">
      <div class="secondary-title">Typography</div>
      <div class="typography-pallette">
        <!-- HEADINGS -->

        <!-- HEADING XL -->
        <div class="typography-pallette__block-wrapper--xl">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Heading XL | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__header--xl">
              Increase your skill with minimal budget
            </h1>
          </div>
        </div>

        <!-- HEADING L -->
        <div class="typography-pallette__block-wrapper--l">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Heading L | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__header--l">
              Increase your skill with minimal budget
            </h1>
          </div>
        </div>

        <!-- HEADING M -->
        <div class="typography-pallette__block-wrapper--m">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Heading M | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__header--m">
              Increase your skill with minimal budget
            </h1>
          </div>
        </div>

        <!-- HEADING S -->
        <div class="typography-pallette__block-wrapper--s">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Heading S | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__header--s">
              Increase your skill with minimal budget
            </h1>
          </div>
        </div>

        <!-- BODY -->

        <!-- BODY M -->
        <div class="typography-pallette__block-wrapper--bm">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Body M | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__body--m">
              Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
              mauris sit amet orci. Aenean dignissim pellentesque felis. Donec
              nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
              sit amet orci. Aenean dignissim pellentesque felis.Donec nec justo
              eget felis facilisis fermentum. Aliquam porttitor mauris sit amet
              orci.
            </h1>
          </div>
        </div>

        <!-- BODY S -->
        <div class="typography-pallette__block-wrapper--bs">
          <div class="typography-pallette__block">
            <div class="typography-pallette__info">
              Body S | Font Family | Font Weight | Font Size | Line Height
            </div>
            <h1 class="typography-pallette__body--s">
              Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
              mauris sit amet orci. Aenean dignissim pellentesque felis. Donec
              nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
              sit amet orci. Aenean dignissim pellentesque felis.Donec nec justo
              eget felis facilisis fermentum. Aliquam porttitor mauris sit amet
              orci.
            </h1>
          </div>
        </div>
      </div>
    </section>

    <!-- COMPONENTS SECTION -->
    <section id="components" class="components">
      <div class="secondary-title">Components</div>
    </section>
  </body>
</html>
